services:
  jellyfin:
    image: jellyfin/jellyfin:2025032405-arm64  # ARM64 version of Jellyfin
    platform: linux/arm64
    container_name: jellyfin
    restart: unless-stopped
    labels:
      io.portainer.accesscontrol.public: "true"
    ports:
      - "{{ env_vars.jellyfin_http_port }}:8096"  # Jellyfin web UI port (HTTP)
      - "{{ env_vars.jellyfin_https_port }}:8920"  # Jellyfin secure web UI port (HTTPS)
    volumes:
      - {{ env_vars.jellyfin_config_path }}:/config  # Persistent Jellyfin configuration
      - {{ env_vars.jellyfin_cache_path }}:/cache    # Jellyfin cache storage
      - {{ env_vars.jellyfin_media_path }}:/media    # Media files to be served by Jellyfin    
    networks:
      - jellyfin_network 

networks:
  jellyfin_network:
    driver: bridge