services:
  portainer:
    image: portainer/portainer-ce:2.27.3-linux-arm64
    platform: linux/arm64
    container_name: portainer
    restart: unless-stopped
    user: "{{ env_vars.docker_uid }}:{{ env_vars.docker_gid }}"
    labels:
      io.portainer.accesscontrol.public: "true"
    ports:
      - "{{ env_vars.portainer_webgui_port }}:9443"  # Secure HTTPS Portainer UI
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ env_vars.portainer_data_dir }}:/data"
    networks:
      - portainer_network  # Custom bridge network
networks:
  portainer_network:
    driver: bridge  # Use the bridge driver for network isolation