# Based on: https://docs.raspap.com/docker/

services:
  raspap:
    container_name: raspap
    image: ghcr.io/raspap/raspap-docker:latest
    platform: linux/arm64
    restart: unless-stopped
    # user: "{{ env_vars.docker_uid }}:{{ env_vars.docker_gid }}"
    labels:
      io.portainer.accesscontrol.public: "true"
    ports:
      - "{{ env_vars.raspap_webgui_port }}:8081"   
    environment:
      - RASPAP_SSID={{ env_vars.raspap_ssid }}
      - RASPAP_SSID_PASS={{ env_vars.raspap_ssid_pass }}
      - RASPAP_COUNTRY={{ env_vars.raspap_country }}
      - RASPAP_WEBGUI_USER={{ env_vars.raspap_webgui_user }}
      - RASPAP_WEBGUI_PASS={{ env_vars.raspap_webgui_pass }}
      - RASPAP_WEBGUI_PORT={{ env_vars.raspap_webgui_port }}
    #build: .
    privileged: true
    network_mode: host    
    cgroup: host # uncomment when using an ARM device 
    cap_add:
      - SYS_ADMIN
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw 